.home{
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    place-items: center;

    .range{
        display: block;
        width: 100%;
    }

    &__time{
        color: #000;
        font-size: 2rem;
    }

    .right{
        display: flex;
        flex-direction: column;
        
        .volume{
            display: flex;

            span{
                color: #000;
            }
        }
    }
}